<!DOCTYPE html>
<html lang="en"/>
<title><%= domain %> Mail</title>

<head>
  <meta name="viewport" content="width=450px"/>
  <meta name="description" content="Welcome to <%= domain %> Mail">
  <meta name="author" content="<%= domain %> Mail">
  <meta property="og:description" content="Welcome to <%= domain %> Mail">
  <meta property="og:title" content="<%= domain %> Mail">
</head>

<script>
  if(!!window.performance && window.performance.navigation.type === 2) window.location.reload();
</script>
