<!DOCTYPE html>
<html lang="en"/>
<title><%= owner %> Mail</title>

<head>
  <meta name="viewport" content="width=630px"/>
  <meta name="description" content="Welcome to <%= owner %> Mail">
  <meta name="author" content="<%= owner %> Mail">
  <meta property="og:description" content="Welcome to <%= owner %> Mail">
  <meta property="og:title" content="<%= owner %> Mail">
</head>

<script>
  if(!!window.performance && window.performance.navigation.type === 2) window.location.reload();
</script>
